<footer class="shadow">
  <div class="row">
    <div class="col-lg-6 col-md-6 navigate">
      <p><strong>Navigate</strong></p>
      <a href="#">Home</a>
      <a href="#">Ask a question</a>
      <a href="#">About Us</a>
      <a href="#">Contact Us</a>
      <a href="#">Register</a>
      <a href="#">Login</a>
    </div>
    <div class="col-lg-6 col-md-6">
      <p><strong>Departments</strong></p>
      <a href="#">Computer Science</a>
      <a href="#">Information Technology</a>
      <a href="#">Mechanical Engineering</a>
      <a href="#">Electrical Engineering</a>
      <a href="#">Electornics and Telecommunication</a>
      <a href="#">Civil Engineering</a>
      <a href="#">Bio Technology</a>
      <a href="#">Leather Technology</a>
    </div>
  </div>

  <a class="facebook footer-icon" href="#"><i class="fab fa-facebook"></i></a>
  <a class="instagram footer-icon" href="#"><i class="fab fa-instagram-square"></i></a>
  <a class="youtube footer-icon" href="#"><i class="fab fa-youtube"></i></a>
  <a class="linkedin footer-icon"href="#"><i class="fab fa-linkedin"></i></a>
  <a class="mail footer-icon" href="mailto:bijoy@example.com?subject=feedback"><i class="fas fa-envelope"></i></a>
  <p>Made with ❤ by <a href="#">NAME</a></p>
</footer>


<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
-->

<!--jquery-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</body>
</html>
