<nav class="navbar navbar-expand-lg navbar-light bg-light shadow sticky-top">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">CollegeGeeks</a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signup">Signup</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Streams
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="/questions?page=1&category=cse"
                >CSE or IT</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/questions?page=1&category=me"
                >Mechanical/Automobile</a
              >
            </li>

            <li>
              <a class="dropdown-item" href="/questions?page=1&category=ece"
                >Electronics</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/questions?page=1&category=ee"
                >Electrical Engineering</a
              >
            </li>

            <li>
              <a class="dropdown-item" href="/questions?page=1&category=ce"
                >Chemical Engineering</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/questions?page=1&category=lt"
                >Leather Technology</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/questions?page=1&category=ct"
                >Ceramic technology</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/questions?page=1&category=ft"
                >Food technology</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/questions?page=1&category=ce"
                >Civil Engineering</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/questions?page=1&category=ot"
                >Others</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
      
      </ul>
    </div>
  </div>
</nav>
