
        <nav class="navbar navbar-expand-lg navbar-light bg-light shadow ">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">CollegeGeeks</a>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarNavDropdown"
              aria-controls="navbarNavDropdown"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/login"> <%= Login %></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/signup">signup</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Dropdown
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">CSE or IT</a></li>
                    <li><a class="dropdown-item" href="#">Mechanical/Automobile</a></li>
                    <li><a class="dropdown-item" href="#">ECE</a></li>
                    <li><a class="dropdown-item" href="#">Electrical</a></li>
                    <li><a class="dropdown-item" href="#">Chemical</a></li>
                    <li><a class="dropdown-item" href="#">Leather Technology</a></li>
                    <li><a class="dropdown-item" href="#">Ceramic technology</a></li>
                    <li><a class="dropdown-item" href="#">Food technology</a></li>
                    <li><a class="dropdown-item" href="#">Civil</a></li>
                  </ul>
                </li>
              </ul>
              <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            </div>
          </div>
        </nav>
