<%- include("partials/header.ejs" , {pageTitle : "CollegeGeeks: :: About" , style: "css/about.css"}); -%>

<% if(isLoggedIn === true){%>
    <section class="title">
        <%- include("partials/LoggedNavbar.ejs"); -%>
    </section>
  <%} else {%>
    <section class="title">
        <%- include("partials/navbar.ejs"); -%>
    </section>
  <%}%>


    <div class="about-section">
        <div class="inner-container">
            <h1>About Us</h1>
            <p class="text">
                Welcome to COLLEGEGEEKS, your number one source for all Engineering related query. We're dedicated to giving you the very best of this forum, with a focus on privacy, security and smooth experience. Founded in 2021 , COLLEGEGEEKS has come a long way from its beginnings . We hope you enjoy our products as much as we enjoy offering them to you. If you have any questions or comments, please don't hesitate to contact us.

          <p>Sincerely
         </p>COLLEGEGEEKS
            </p>
        </div>
    </div>

<%- include("partials/footer.ejs"); -%>
<script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
      crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
<script>
  function addDarkmodeWidget() {
    new Darkmode().showWidget();
  }
  window.addEventListener('load', addDarkmodeWidget);
</script>