<%- include("partials/header.ejs" , {pageTitle : "CollegeGeeks: :: About" , style: "css/about.css"}); -%>

<% if(isLoggedIn === true){%>
    <section class="title">
        <%- include("partials/LoggedNavbar.ejs"); -%>
    </section>
  <%} else {%>
    <section class="title">
        <%- include("partials/navbar.ejs"); -%>
    </section>
  <%}%>


    <div class="about-section">
        <div class="inner-container">
            <h1 class="fs-1">ABOUT US</h1>
            <p class="fst-italic">
                Welcome to CollegeGeeks, your number one source for all Engineering related query. We're dedicated to giving you the very best of this forum, with a focus on privacy, security and smooth experience. Founded in 2021 , CollegeGeeks has come a long way from its beginnings . We hope you enjoy our products as much as we enjoy offering them to you. If you have any questions or comments, please don't hesitate to contact us.We're working to turn our passion for Question answer into a booming online website. We hope you enjoy our Question answer as much as we enjoy offering them to you.I will keep posting more important posts on my Website for all of you. Please give your support and love.

          <p>Sincerely
         </p>CollegeGeeks
            </p>
        </div>
    </div>

<%- include("partials/footer.ejs"); -%>
<script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
      crossorigin="anonymous">
</script>


