<%- include("partials/header.ejs" , {pageTitle : "CollegeGeeks: :: Home" , style: "css/style.css"}); -%>

<section class="title_myaccount">
    <%- include("partials/LoggedNavbar.ejs"); -%>
</section>

<body style="background-color: #fafafa;">
<section class="my_acc">
    <div class="container">
        <div class="row">
            <div class="user_profile">
            <i class="user_icon fas fa-user-circle fa-10x"></i>
            <div class=" upload">
                <input type="file" id="actual-btn" hidden>
                <label for="actual-btn" style="cursor: pointer; color: black;"><i class="fas fa-camera fa-2x"></i></label>
            </div>
            </div>
            <div class="usename">
                    <span class="display-6">UserName</span>
                    <p>Bio</p>
            </div>
        </div>
    </div>  
</section>
<div class="container mb-2">
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Info</button>
      <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Change Password</button>
    </div>
  </nav>
</div>


<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        
<section>
    <div class="container">
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <div class="container">
                        <form class="row g-3">
                            <div class="col-md-6">
                              <label for="inputEmail4" class="form-label">Email</label>
                              <input type="email" name="email" class="form-control" id="inputEmail4">
                            </div>
                            <div class="col-md-6">
                              <label for="anme" class="form-label">Name</label>
                              <input type="text" name="name" class="form-control" >
                            </div>
                            <div class="col-12">
                              <label for="inputbio" class="form-label">BIO</label>
                              <textarea type="text" class="form-control" name="bio">
                                  </textarea>
                            </div>
                            <div class="col-12">
                              <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                          </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>

<div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        <div class="container">
            <div class="row">
                <div class="mdl-card">
                    <div class="card-body">
                        <div class="card-title">
                            <form>
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Old Password</label>
                                    <input type="password" class="form-control" 
                                    name="old-password" required >
                                  </div>
                                  <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">New Password</label>
                                    <input type="password" class="form-control"
                                    name="new-password" required >
                                  </div>
                                  <button class="btn btn-primary" type="submit">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


  </div>










































<script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
      crossorigin="anonymous">
</script>
</body>
</html>

