<%# ADDING HEADER %>
<%- include("partials/header.ejs" , {pageTitle : "CollegeGeeks: :: Home" , style: "css/style.css"}); -%>

<%# ADDING NAVBAR %>
<section class="title_home">
<%- include("partials/navbar.ejs");  -%>
</section>
<body class="body">
<section class="mainpage">
    <div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-12 col-12">
            <div class="card" style="margin-bottom: 2%;">
                <div class="card-body">
                  <h5 class="card-title">Ask Any thing</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Username</h6>
                  <div class="mb-3">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                  </div>
                  <hr>
                  <span class="home_post_btn"><button type="button" class="btn btn-outline-secondary">post</button></span>
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <h6 class="card-subtitle mb-2 text-muted">Answer Recommended for you</h6>
                  <hr>
                  <div class="question">
                      <h5>Question...........</h5><hr>
                  </div>
                  <div class="answer">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi beatae doloremque adipisci mollitia distinctio rerum, iure, quasi cumque culpa eveniet reiciendis fugit, possimus aut saepe expedita quaerat reprehenderit asperiores totam dolorem! Ullam possimus assumenda dolorum, ex facilis neque doloribus dolor. Et eveniet, laborum repellendus voluptates unde suscipit eligendi aut incidunt.
                  </div>
                  <div class="question">
                    <h5>Question...........</h5><hr>
                </div>
                <div class="answer">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi beatae doloremque adipisci mollitia distinctio rerum, iure, quasi cumque culpa eveniet reiciendis fugit, possimus aut saepe expedita quaerat reprehenderit asperiores totam dolorem! Ullam possimus assumenda dolorum, ex facilis neque doloribus dolor. Et eveniet, laborum repellendus voluptates unde suscipit eligendi aut incidunt.
                </div>
                </div>
              </div>
        </div>
        <div class="col-lg-4 col-md-6 d-none d-md-block">
            <div class="card" style="width: 14rem;">
                <div class="card-body">
                  <h5 class="card-title">Spaces you follow</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                </div>
              </div>
        </div>
    </div>
    </div>
</section>

<script src="js/main.js"></script>
<script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
      crossorigin="anonymous">
    </script>
</body>
</html>
