<%- include("partials/header.ejs" , {pageTitle : "CollegeGeeks: :: Home" ,
style: "css/style.css"}); -%>


<% if(isLoggedIn === true){%>
  <section class="title">
      <%- include("partials/LoggedNavbar.ejs"); -%>
  </section>
<%} else {%>
  <section class="title">
      <%- include("partials/navbar.ejs"); -%>
  </section>
<%}%>







<section class="home_page">
  <div class="container">
    <div class="row">
      <div class = "col-lg-6 col-md-6 col-12 order-1 order-lg-2 order-md-2 animate__animated animate__backInRight mb-2">
        <img src="images/hero-img.png" alt="image" class="img-fluid">
      </div>
      <div class = "col-lg-6 col-md-6 col-12 order-lg-1 order-2  order-md-1 flex-lg-column animate__animated animate__backInLeft mb-2 home_page_content ">
       <p><h4><span class="display-6 Welcome_msg"><b>Welcome To CollegeGeeks</b></span> </h4></p>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, at. Accusantium reprehenderit, non, voluptate expedita est quod voluptas asperiores eum eligendi quae quaerat minus rerum incidunt harum nam maxime eos!</p>
        <button type="button" class="btn btn-primary">Sign UP</button>  <button type="button" class="btn btn-outline-primary">Login</button>
      </div>
    </div>
  </div>
</section>

<section class="app_features">
  <div class="container">
    <div class="row">
      <div class ="features_head display-6"> App Features</div>
      <div class = "features_content col-lg-6 col-md-6 col-12 order-1 order-lg-2 order-md-2 ">
        <img src="images/developers.jpg"class="img-fluid" alt="Ss">
      </div>
      <div class = " col-lg-6 col-md-6 col-12 order-2 order-lg-1 order-md-1 ">
      </div>
    </div>
  </div>
</section>













<script src="js/main.js"></script> 
<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
-->

<!--jquery-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</body>
</html>
 
<%- include("partials/footer.ejs"); -%>