<%- include("partials/header.ejs" , {pageTitle : "CollegeGeeks: :: Home" ,
style: "css/style.css"}); -%>


<% if(isLoggedIn === true){%>
  <section class="title">
      <%- include("partials/LoggedNavbar.ejs"); -%>
  </section>
<%} else {%>
  <section class="title">
      <%- include("partials/navbar.ejs"); -%>
  </section>
<%}%>







<section class="home_page">
  <div class="container">
    <div class="row">
      <div class = "col-lg-6 col-md-6 col-12 order-1 order-lg-2 order-md-2 animate__animated animate__backInRight mb-2">
        <img src="images/hero-img.png" alt="image" class="img-fluid">
      </div>
      <div class = "col-lg-6 col-md-6 col-12 order-lg-1 order-2  order-md-1 flex-lg-column animate__animated animate__backInLeft mb-2 home_page_content ">
       <p><h4><span class="display-6 Welcome_msg"><b>Welcome To CollegeGeeks</b></span> </h4></p>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, at. Accusantium reprehenderit, non, voluptate expedita est quod voluptas asperiores eum eligendi quae quaerat minus rerum incidunt harum nam maxime eos!</p>
        <button type="button" class="btn btn-primary">Sign UP</button>  <button type="button" class="btn btn-outline-primary">Login</button>
      </div>
    </div>
  </div>
</section>

<section class="app_features">
  <div class="container">
    <div class="row">
      <div class ="features_head display-6 mb-4"> App Features</div>
      <div class = "features_content col-lg-6 col-md-6 col-12 order-1 order-lg-2 order-md-2 mt-4 ">
        <img src="images/developers.jpg"class="img-fluid" alt="Ss">
      </div>
      <div class = "home_page_content col-lg-6 col-md-6 col-12 order-2 order-lg-1 order-md-1 mt-7">
        <div class="container">
        <div class= "row">
          <div class ="col-lg-6 col-md-6 col-12 mb-5">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, laboriosam? Dolorem numquam 
          </div>
          <div class ="col-lg-6 col-md-6 col-12 mb-5">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </div>
        </div>
        <div class= "row">
          <div class ="col-lg-6 col-md-6 col-12 mb-5">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          </div>
          <div class ="col-lg-6 col-md-6 col-12 mb-5">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about_us">

</section>





<%- include("partials/footer.ejs"); -%>
