<%# ADDING HEADER %>
<%- include("partials/header.ejs"); -%>

<%# ADDING NAVBAR %>
<%- include("partials/navbar.ejs");  -%>


<section id="main">
  <div class="container-fluid main_header">

    <div class="row">
      <div class="col-lg-6 col-md-6 col-12 main_header_left">

        <h1 class="main1">Welcome to the collegedesk</h1>
        <h5 class="sub_header">A website to communicate Learn and grow
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        </h5>
        <a href=""><button type="button" class="btn btn-info btn-lg shadow">Register</button></a>
      </div>
      <div class="col-lg-6 col-md-6 col-12">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="images/concept-of-data-analysis-and-maintenance.png" class="d-block w-100 " alt="...">
            </div>
            <div class="carousel-item">
              <img src="images/mobile-testing-and-group-discussion.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="images/social-media-users.png" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="Aim">
  <div class="container-fluid main_about">
    <div class="col-md-10 col-sm-12 mx-auto">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-12 main_about_left">
          <img class="img-fluid" src="images/developers-doing-discussion-about-wireframe.jpg">
        </div>
        <div class="col-lg-6 col-md-6 col-12 main_about_right">
          <h2>Our Aim</h2>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="features">
  <h1 class="f_head">Features of collegedesk</h1>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-12 f-right">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen
      </div>
    <div class="col-lg-6 col-md-6 col-12 f-left">
      <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="images/blog-writer.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="images/boy-saying-something-to-search-in-mobile.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="images/girl-work-on-laptop (1).png" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    </div>
  </div>
</section>
<section id="about us">
  <div class="container">
    <div class="row">

    </div>
  </div>
</section>




<%# ADDING FOOTER %>
<%- include("partials/footer.ejs"); -%>