<%- include("partials/header.ejs" , {pageTitle : "CollegeGeeks: :: Home" ,
style: "css/style.css"}); -%>


<% if(isLoggedIn === true){%>
  <section class="title">
      <%- include("partials/LoggedNavbar.ejs"); -%>
  </section>
<%} else {%>
  <section class="title">
      <%- include("partials/navbar.ejs"); -%>
  </section>
<%}%>







<section class="home_page">
  <div class="container">
    <div class="row">
      <div class = "col-lg-6 col-md-6 col-12 order-1 order-lg-2 order-md-2 animate__animated animate__backInRight mb-2">
        <img src="images/hero-img.png" alt="image" class="img-fluid">
      </div>
      <div class = "col-lg-6 col-md-6 col-12 order-lg-1 order-2  order-md-1 flex-lg-column animate__animated animate__backInLeft mb-2 home_page_content ">
       <p><h4><span class="display-6 Welcome_msg"><b>Welcome To CollegeGeeks</b></span> </h4></p>
       <p class="fst-italic">Free , Simple , EasytoUse Question Answer Platform</p>
      </div>
    </div>
  </div>
</section>
<section id="features" class="features">
  <div class="container">

    <div class="section-title">
      <h2>Collegegeeks</h2>
      <p>A free open source software specially developed for College Students</p>
    </div>

    <div class="row no-gutters">
      <div class="col-xl-7 d-flex align-items-stretch order-2 order-lg-1">
        <div class="content d-flex flex-column justify-content-center">
          <div class="row">
            <div class="col-md-6 icon-box" data-aos="fade-up">
              <i class="fab fa-cc-paypal"></i>
              <h4>Free to use</h4>
              <p> No Fees for using the application. Premium features available .                                      </p>
            </div>
            <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
              <i class="fas fa-certificate"></i>
              <h4>Open source</h4>
              <p>Find us at github and use the code to amke your software</p>
            </div>
            <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
              <i class="fas fa-bars"></i>
              <h4>Easy to use</h4>
              <p>User eperience matters to us</p>
            </div>
            <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
              <i class="fas fa-allergies"></i>
              <h4>Helping Students</h4>
              <p>Help each other , sharing is caring.</p>
            </div>
            <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
              <i class="fab fa-angellist"></i>
              <h4>Youth and young</h4>
              <p>Software keeps updated everynow and then.</p>
            </div>
            <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
              <i class="fas fa-child"></i>
              <h4>Robust and Scalable</h4>
              <p>Dynamic software and changable</p>
              <p></p>
              <p></p>
              <p></p>
              <p></p>
            </div>
          </div>
        </div>
      </div>
      <div class="image col-xl-5 d-flex align-items-stretch justify-content-center order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
        <img src="images/features.png" class="img-fluid" alt="">
      </div>
    </div>

  </div>
</section><!-- End App Features Section -->

<!-- ======= Details Section ======= -->
<section id="details" class="details">
  <div class="container">

    <div class="row content">
      <div class="col-md-4" data-aos="fade-right">
        <img src="images/details-1.svg" class="img-fluid" alt="">
      </div>
      <div class="col-md-8 pt-4" data-aos="fade-up">
        <h3>A platform for your love to answer questions.</h3>
        <p class="fst-italic">
          Post a Question on our platform get answer within secounds from verified partners .
        </p>
        <ul>
          <li><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
          </svg> Teacher verification available.</li>
          <li><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
          </svg> Easy to apply .</li>
          <li><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
          </svg> Get financially independent .</li>
          <li><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
          </svg>Get verified and answer quetion to start earning .</li>
        </ul>
        <p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
        </p>
      </div>
    </div>

    <div class="row content">
      <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
        <img src="images/details-2.svg" class="img-fluid" alt="">
      </div>
      <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
        <h3>Get answer from top educators across globe.</h3>
        <p class="fst-italic">
          Premium starts from $1.99 
        </p>
        <ul>
          <li><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
          </svg> One to One meating.</li>
          <li><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
          </svg> Group Scessions available.</li>
          <li><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
          </svg>24x7 customer service avsilble.</li>
          <li><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
          </svg> If answer found incorrect money back policy.</li>
        </ul>
        <p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
        </p>
      </div>
    </div>
    
    <div class="row content">
      <div class="col-md-4" data-aos="fade-right">
        <img src="images/details-3.svg" class="img-fluid" alt="">
      </div>
      <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
        <h3>Live Group Scession on Premium Services .</h3>
        <p class="fst-italic">
         With top Students across Globe COMMING SOON VERSION 2.0
        </p>
        <ul>
          <li><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
          </svg> One to One Communication  Comming Soon.</li>
          <li><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
          </svg>Group Discussion  Comming Soon.</li>
          <li><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
          </svg>Interactive Scessions with Differnt Students Comming Soon.</li>
          <li><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
          </svg> Placenemt Support Comming Soon.</li>
        </ul>
        
        <p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
        </p>
      </div>
    </div>

    
</section>



<section id="faq" class="faq section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-title">

      <h2> 🔥 Trending Questions</h2>
      <p>Question of The Week</p>
    </div>

    <div class="accordion-list">
      <ul>
        <li data-aos="fade-up">
          <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-1">What couses to do for placement ? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
            <p>
              &emsp;&emsp; I dont Khow
            </p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="100">
          <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2" class="collapsed">Best goverment College? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
            <p>
              &emsp;&emsp;Jadavpur University
            </p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="200">
           <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3" class="collapsed">Platform for gate preparation ? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
            <p>
              &emsp;&emsp; Study yor textbooks
            </p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="300">
          <a data-bs-toggle="collapse" data-bs-target="#accordion-list-4" class="collapsed">Which Language to parctice CP? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="accordion-list-4" class="collapse" data-bs-parent=".accordion-list">
            <p>
              &emsp;&emsp;   C++ or Python and C
            </p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="400">
         <a data-bs-toggle="collapse" data-bs-target="#accordion-list-5" class="collapsed">What is Makaut? <i class="bx bx-chevron-up icon-close"></i></a>
          <div id="accordion-list-5" class="collapse" data-bs-parent=".accordion-list">
            <p>
              &emsp;&emsp; Makaut is an University.
            </p>
          </div>
        </li>

      </ul>
    </div>

  </div>
</section>
<section class="about_us">

</section>









<script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>


<!-- <script src="js/main.js"></script>  -->
<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
-->

<!--jquery-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</body>
</html>
 
<%- include("partials/footer.ejs"); -%>
