<%# ADDING HEADER %>
<%- include("partials/header.ejs" , {pageTitle : "CollegeGeeks: :: Signup" , style: "css/style.css"}); -%>

<%# ADDING NAVBAR %>
<section class="title_login">

<%- include("partials/navbar.ejs",{ Profile: ""});  -%>

</section>

<div class="container">
    <h1><center>Create an Account</center></h1>
    <hr>
    <div class="row py-5 mt-4 align-items-center">
        <!-- For Demo Purpose -->
        <div class="col-md-5 pr-lg-5 mb-5 mb-md-0">
            <img src="images/mobile-settings.png" alt="" class="img-fluid mb-3 d-none d-md-block">
            </p>
        </div>

        <!-- Registeration Form -->

        <div class="col-md-7 col-lg-6 ml-auto">
            <form action="/signup" method="POST">
                <div class="row">
                    <span id="checking" class="alert " style="text-align: center;"></span>
                    <!--Name -->
                    <div class="input-group col-lg-6 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-user text-muted"></i>
                            </span>
                        </div>
                        <input id="name" type="text" name="name" placeholder="Name" autocomplete="off" class="form-control bg-white border-left-0 border-md" required>
                    </div>
  
                    <!-- branch Name -->
                    <div class="input-group col-lg-6 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-book text-muted"></i>
                            </span>
                        </div>
                        <select class="form-select" aria-label="Default select example" name="branch">
                            <option selected>Open this select menu</option>
                            <option value="CSE">Computer Science Engineering</option>
                            <option value="ECE">Electronic and Communication Engineering</option>
                            <option value="EE">Electrical Engineering</option>
                            <option value="ME">Mechanical Engineering</option>
                            <option value="CE"> Chemical Engineering</option>
                            <option value="CT">Ceramic Engineering</option>
                            <option value="LT">Leather Technology</option>
                            <option value="FT">Food Technology</option>
                          </select>
                    </div>

                    <!-- Email Address -->
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-envelope text-muted"></i>
                            </span>
                        </div>
                        <input id="email" type="email" name="email" placeholder="Email Address" autocomplete="off" class="form-control bg-white border-left-0 border-md" required>
                        <br>
                    </div>
                    

                    <!-- Phone Number -->
                    <!-- <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-phone-square text-muted"></i>
                            </span>
                        </div>
                        <input id="phoneNumber" type="tel" name="phone" placeholder="Phone Number" 
                        autocomplete="off" class="form-control bg-white border-md border-left-0 pl-3" required>
                    </div>. -->

                    <!-- Password -->
                    <div class="input-group col-lg-6 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-lock text-muted" ></i>
                            </span>
                        </div>
                        <input id="password" type="password" name="password" placeholder="Password" autocomplete="off" class="form-control bg-white border-left-0 border-md" required>
                    </div>

                    <!-- Password Confirmation -->
                    <div class="input-group col-lg-6 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-lock text-muted"></i>
                            </span>
                        </div>
                        <input id="passwordConfirmation" type="password" name="confirmPassword" placeholder="Confirm Password" autocomplete="off" class="form-control bg-white border-left-0 border-md" required>
                    </div>

                    <!-- Submit Button -->
                    <div class="form-group col-lg-12 mx-auto mb-0">
                        <button type="submit" id="submit" class="btn btn-primary btn-block py-2">
                            <span class="font-weight-bold">Create your account</span>
                        </a>
                    </div>

                    <!-- Divider Text -->
                    <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
                        <div class="border-bottom w-100 ml-5"></div>
                        <span class="px-2 small text-muted font-weight-bold text-muted">OR</span>
                        <div class="border-bottom w-100 mr-5"></div>
                    </div>


                    <!-- Already Registered -->
                    <div class="text-center w-100">
                        <p class="text-muted font-weight-bold">Already Registered? <a href="/login" class="text-primary ml-2">Login</a></p>
                    </div>

                </div>
            </form>
        </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <!-- <script src="js/signup.js"></script> -->


