<%- include("partials/header.ejs" , {pageTitle : "CollegeGeeks: :: Home" ,
style: "css/about.css"}); -%>

<h1>Verification link has been sent to your email.</h1>
<a href="/"><button class="btn btn-success">Home Page</button></a>

<%- include("partials/footer.ejs"); -%>
