<%- include("partials/header.ejs" , {pageTitle : "CollegeGeeks: :: verification" ,
style: "css/about.css"}); -%>

<body style="background: #f8faf5">
    <section id="verificationMail">
      <div class="container-sm" style="margin-top: 10%">
        <div class="card shadow" style="text-align: center">
          <h1 class="card-header display-3">Thank You!!!</h1>
          <div class="card-body">
            <p style="font-size: 20px">
              Well Done !!! your just one step away to create your account
              <b>Please Check your Email Id you need to verify your account.</b>
            </p>
            <p>
              Having trouble ?
              <a style="text-decoration: none" href="mailto:collegegeeks2021@gmail.com"
                >Contact us</a
              >
            </p>
            <hr />
            <p style="text-align: center">
              <a href="/"
                ><button type="button" class="btn btn-outline-success">
                  Home Page
                </button></a
              >
            </p>
          </div>
        </div>
      </div>
    </section>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
      crossorigin="anonymous"
    ></script>
  </body>

</html>