*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans",sans-serif;
    box-sizing: border-box;
}


body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
    flex-direction: column;
}

/********NAVBAR START**********/

.navbar-nav{
  margin-left: auto;
  margin-right: 30px;
}
.navbar-brand{
  margin-left: 30px;
}

.title{
  width: 100%;
}

/*******NAVBAR END*********/

.about-section{
    background: url("../images/pic.jpg") no-repeat left;
    background-size: 55%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 100px 0;
}

.inner-container{
    width: 55%;
    float: right;
    background-color: #fdfdfd;
    padding: 150px;
}

.inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.text{
    font-size: 13px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.skills{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
}

/*footer css*/
footer {
  padding: 1.5rem;
  text-align: center;
  width: 100%;
}
footer .row a {
  display: block;
  text-decoration: none;
  color: black;
  font-weight: 400;
  padding: 0.2rem 0;
}

.footer-icon {
  font-size: 2.2rem;
  margin: 0.3rem;
}

.facebook {
  color: #1773EA;
}

.facebook:hover {
  color: #1773EA;
}

.instagram {
  color: #7C3CAB;
}

.instagram:hover {
  color: #7C3CAB;
}

.youtube {
  color: #F70000;
}

.youtube:hover {
  color: #F70000;
}

.mail {
  color: #E44134;
}

.mail:hover {
  color: #E44134;
}

.linkedin {
  color: #0073B1;
}

.linkedin:hover {
  color: #0073B1;
}


@media screen and (max-width:1200px){
    .inner-container{
        padding: 80px;
    }
}

@media screen and (max-width:1000px){
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .about-section{
        padding: 0;
    }
    .inner-container{
        padding: 60px;
    }
}
