/*Index/main-page css*/


.navbar-nav{
  margin-left: auto;
  margin-right: 30px;
}
.navbar-brand{
  margin-left: 30px;
}
#main{
  background-color:#e9eaea;
}
.main1{
  color: gray;
  
}
.sub_header{
  color: grey;
}
.title{
  padding-bottom: 5%;
  background-color:#e9eaea;
}

.carousel-control-prev{
  color: black ;
}
.main_header_left{
  text-align: center;
  padding: 5%;
}

.main_about_right{
  text-align: center;
  padding-top: 10%;
  color: rgb(65, 97, 97);
}
.Aim{
  background-color: white;
  padding-bottom: 5%;
}

.a_head{
  text-align: center;
  padding-top: 2%;
  padding-bottom: 3%;
  color: grey;
}
.a_left{
  padding-top: 5%;
}
#aboutus{
  background-color: #eeeeff;
}
a{
  text-decoration: none;
}
.offcanvas-body{
  text-align: center;
}
.offcanvas-list{
  text-align: left;
}

/* Sign-up page css*/

.title_login{
  padding-bottom: 5%;
}

/*login page css*/
.title_login{
  padding-bottom: 5%;
}
.login-title{
  padding-bottom: 20px;
}
.forgetPassword:hover{
  color: #E44134;
}


@media(min-width:768px){
  .login_card{
    width:50%;
  }
  .main_login{
    margin-left: 30%;
  }
}


/*home page css */
.body{
  background-color: #f1f2f2;
}
.title_home{
  padding-bottom: 2%;
}

.title_home{
  background-color: #f1f2f2;
}
.mainpage{
  background-color: #f1f2f2;
}
.home_post_btn{
  float: right;
}



/*my-account page css */
.title_myaccount{
  padding-bottom: 5%;
}
.user_account{
  width: 70px;
}

/*404 page*/
#page404{
  margin-top:7% ;
}
.Head404{
  font-size: 150px;
}
.msg404{
  font-size: 20px;
}















/*footer css*/
footer {
  padding: 1.5rem;
  text-align: center;
}
footer .row a {
  display: block;
  text-decoration: none;
  color: black;
  font-weight: 400;
  padding: 0.2rem 0;
}

.footer-icon {
  font-size: 2.2rem;
  margin: 0.3rem;
}

.facebook {
  color: #1773EA;
}

.facebook:hover {
  color: #1773EA;
}

.instagram {
  color: #7C3CAB;
}

.instagram:hover {
  color: #7C3CAB;
}

.youtube {
  color: #F70000;
}

.youtube:hover {
  color: #F70000;
}

.mail {
  color: #E44134;
}

.mail:hover {
  color: #E44134;
}

.linkedin {
  color: #0073B1;
}

.linkedin:hover {
  color: #0073B1;
}

