/*Index/main-page css*/
.btn:hover{
  transform: scale(1.06);
}
.card{
  border-radius: 8px;
}
.card:hover{
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}
.author_name{
  text-transform: capitalize;
}
body{
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}


a{
  color: gray;
}

 .navbar-nav{
  margin-left: auto;
  margin-right: 50px;
}
.navbar-brand{
  text-align:center;
  padding-left: 50px;
}
.title{
  margin-bottom: 5%;
}

.Welcome_msg{
  color: rgb(70, 67, 200);
  font-size: 3rem;

}

.home_page_content{
  margin-top: 7%;
}
@media(max-width:800px){
  .home_page_content{
    text-align:center;
    margin-top: 7%;
  }
}
.features_head{
  margin-top: 3%;
  text-align: center;
}




a{
  text-decoration: none;
}
.offcanvas-body{
  text-align: center;
}
.offcanvas-list{
  text-align: left;
}

/*--------------------------------------------------------------
# App Features
--------------------------------------------------------------*/
.features .content {
  padding: 30px 0;
}

.features .content .icon-box {
  margin-top: 25px;
}

.features .content .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 5px 0 10px 60px;
}

.features .content .icon-box i {
  font-size: 48px;
  float: left;
  color: #5777ba;
}

.features .content .icon-box p {
  font-size: 15px;
  color: #979aa1;
  margin-left: 60px;
}

/*@media (max-width: 1000px) {
  .features .image {
    text-align: center;
  }
  .features .image img {
    max-width:200%;
  }
}

@media (max-width: 1000px) {
  .features .image img {
    max-width: 200%;
  }
}*/

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #5777ba;
  font-family: "Poppins", sans-serif;
}

.section-title p {
  margin-bottom: 0;
}




/* Sign-up page css*/

.title_login{
  padding-bottom: 5%;
}




/*--------------------------------------------------------------
# Details
--------------------------------------------------------------*/
.details .content + .content {
  margin-top: 100px;
}

.details .content h3 {
  font-weight: 700;
  font-size: 32px;
  color: #47536e;
}

.details .content ul {
  list-style: none;
  padding: 0;
}

.details .content ul li {
  padding-bottom: 10px;
}

.details .content ul i {
  font-size: 24px;
  padding-right: 2px;
  color: #5777ba;
  line-height: 0;
}

.details .content p:last-child {
  margin-bottom: 0;
}



/*--------------------------------------------------------------
# Frequently Asked Questions
--------------------------------------------------------------*/


.faq .accordion-list {
  padding: 0 100px;
}

.faq .accordion-list ul {
  padding: 0;
  list-style: none;
}

.faq .accordion-list li + li {
  margin-top: 15px;
}

.faq .accordion-list li {
  padding: 20px;
  background: #fff;
  border-radius: 4px;
  position: relative;
  background-color: #c1f1fa;
}

.faq .accordion-list a {
  display: block;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  padding: 0 30px;
  outline: none;
  cursor: pointer;

}

.faq .accordion-list .icon-help {
  font-size: 24px;
  position: absolute;
  right: 0;
  left: 20px;
  color: #b1c0df;
}

.faq .accordion-list .icon-show, .faq .accordion-list .icon-close {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 0;
}

.faq .accordion-list p {
  margin-bottom: 0;
  padding: 10px 0 0 0;
}

.faq .accordion-list .icon-show {
  display: none;
}

.faq .accordion-list a.collapsed {
  color: #343a40;
}

.faq .accordion-list a.collapsed:hover {
  color: #5777ba;
}

.faq .accordion-list a.collapsed .icon-show {
  display: inline-block;
}

.faq .accordion-list a.collapsed .icon-close {
  display: none;
}

@media (max-width: 1200px) {
  .faq .accordion-list {
    padding: 0;
  }
}














/*login page css*/

.title_login{
  padding-bottom: 5%;
}
.login-title{
  padding-bottom: 20px;
}
.login_card{
  justify-content: center;
}

.forgetPassword:hover{
  color: #E44134;
}
.notHavelogin{
  padding-left: 120px;
}
@media(max-width:768px){
  .notHavelogin{
    padding-left: 90px;
  }
}
@media(min-width:768px){
  .login_card{
    width:50%;
  }
  .main_login{
    margin-left: 30%;
  }
}



/* offcanvas css */


.profile-offcanvas{
  text-decoration: none;
  color: black;
}
/* pagination section */

.pagination{
margin-top: auto;
}




/*home page css */

.body{
  background-color: #f1f2f2;
}
.title_home{
  padding-bottom: 2%;
}

.title_home{
  background-color: #f1f2f2;
}
.mainpage{
  background-color: #f1f2f2;
}
.openanswer a{
  text-decoration: none;
  color: black;
}
.openanswer{
  float: right;
  background-color: #e7ebeb ;
}
.openanswer:hover{
  transform: scale(1.06);
}
/* @media(min-width:800px){
  .mainpage{
    
  }
} */




/*my-account page css */

.my_acc{
  text-align: center;
  align-items: center;
}

.user_profile{
position: relative;
color: gray;
}

.my_background{
  position: relative;
}
.user_icon:hover{
  color: rgba(122, 115, 115, 0.918);
}
.edit_profile{
  margin-top:15px;
  float: right;
}
.upload{
  top:-25px;
  bottom: 0;
  position: relative;
  padding-left: 100px;
}
.username{
  top:-50px;
}
.my_acc_body{
  text-align: center;
}
.my_card{
  margin-top: 20px;
  text-align: center;
}

.profile_pic{
 margin: 0 auto;
 width: 100%;
 text-align: center;
 top:50px;
}
.profile_pic img{
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 2px solid black;
  box-shadow: 1px 1px #343a40;
}





/*404 page*/
#page404{
  margin-top:7% ;
}
.Head404{
  font-size: 150px;
}
.msg404{
  font-size: 20px;
}


/* 500 page Css */

.page_500{
  margin-top:3%;
  text-align: center;
}

@media(max-width:800px){
  .page_500{
    margin-top:60%
  }
}

/* stream Question page */
.no_qna{
  text-align: center;
}

@media(max-width:800px){
  .no_qna{
    margin-top:60%
  }
}















/* Question Ans page CSS */

.mdl-textfield{
  width:100%;
}
.answer_content p{
  font-size: 16px;
}

/* Activity page Css */

.title_activity{
  margin-bottom: 2%;
}
#activity_head{
  margin-bottom: 2%;
}
.activity{
  background-color: #f8f9fa;
}
.fa-angle-double-right:hover{
  padding-left: 10px;
}


/* forgetpassword */

.forgetPassword_body{
  align-items: center;
}











/*footer css*/
footer {
  padding: 1.5rem;
  text-align: center;
}
footer .row a {
  display: block;
  text-decoration: none;
  color: black;
  font-weight: 400;
  padding: 0.2rem 0;
}

.footer-icon {
  font-size: 2.2rem;
  margin: 0.3rem;
}

.facebook {
  color: #1773EA;
}

.facebook:hover {
  color: #1773EA;
}

.instagram {
  color: #7C3CAB;
}

.instagram:hover {
  color: #7C3CAB;
}

.youtube {
  color: #F70000;
}

.youtube:hover {
  color: #F70000;
}

.mail {
  color: #E44134;
}

.mail:hover {
  color: #E44134;
}

.linkedin {
  color: #0073B1;
}

.linkedin:hover {
  color: #0073B1;
}

