/*Index/main-page css*/
.btn:hover{
  transform: scale(1.06);
}
.card{
  border-radius: 8px;
}
.card:hover{
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}
.author_name{
  text-transform: capitalize;
}


a{
  color: gray;
}

 .navbar-nav{
  margin-left: auto;
  margin-right: 50px;
}
.navbar-brand{
  text-align:center;
  padding-left: 50px;
}

#main{
  background-color:#e9eaea;
}
.main1{
  color: gray;
  
}
.sub_header{
  color: grey;
}
.title{
  padding-bottom: 5%;
  background-color:#e9eaea;
}

.carousel-control-prev{
  color: black ;
}
.main_header_left{
  text-align: center;
  padding: 5%;
}

.main_about_right{
  text-align: center;
  padding-top: 10%;
  color: rgb(65, 97, 97);
}
.Aim{
  background-color: white;
  padding-bottom: 5%;
}

.a_head{
  text-align: center;
  padding-top: 2%;
  padding-bottom: 3%;
  color: grey;
}
.a_left{
  padding-top: 5%;
}
#aboutus{
  background-color: #eeeeff;
}
a{
  text-decoration: none;
}
.offcanvas-body{
  text-align: center;
}
.offcanvas-list{
  text-align: left;
}



/* Sign-up page css*/

.title_login{
  padding-bottom: 5%;
}





/*login page css*/

.title_login{
  padding-bottom: 5%;
}
.login-title{
  padding-bottom: 20px;
}
.login_card{
  justify-content: center;
}

.forgetPassword:hover{
  color: #E44134;
}
.notHavelogin{
  padding-left: 120px;
}
@media(max-width:768px){
  .notHavelogin{
    padding-left: 90px;
  }
}
@media(min-width:768px){
  .login_card{
    width:50%;
  }
  .main_login{
    margin-left: 30%;
  }
}



/* offcanvas css */
.profile-offcanvas{
  text-decoration: none;
  color: black;
}







/*home page css */

.body{
  background-color: #f1f2f2;
}
.title_home{
  padding-bottom: 2%;
}

.title_home{
  background-color: #f1f2f2;
}
.mainpage{
  background-color: #f1f2f2;
}
.openanswer a{
  text-decoration: none;
  color: black;
}
.openanswer{
  float: right;
  background-color: #e7ebeb ;
}
.openanswer:hover{
  transform: scale(1.06);
}
/* @media(min-width:800px){
  .mainpage{
    
  }
} */




/*my-account page css */
.main_acc{
  margin-top: 30px;
  margin-bottom: 30px;
}
.title_myaccount{
  padding-bottom: 5%;
}
.profile-img{
  text-align: center;
}
.profile-img img{
  width: 50%;
  height: 100%;
}
.profile-img .file {
  position: relative;
  overflow: hidden;
  margin-top: -20%;
  width: 70%;
  border: none;
  border-radius: 0;
  font-size: 15px;
  background: #212529b8;
}
.profile-img .file input {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
}
.myaccountcard{
  padding:2% ;
}
@media(max-width:768px){
  .usersection1{
    text-align: center;
  }
}
.datasection{
  text-align: center;
}
@media(max-width:768px){
  .datasection{
    padding-left: 20px;
    text-align: left;
  }
}




/*404 page*/
#page404{
  margin-top:7% ;
}
.Head404{
  font-size: 150px;
}
.msg404{
  font-size: 20px;
}


/* 500 page Css */

.page_500{
  margin-top:3%;
  text-align: center;
}

@media(max-width:800px){
  .page_500{
    margin-top:60%
  }
}















/* Question Ans page CSS */

.mdl-textfield{
  width:100%;
}

/* Activity page Css */

.title_activity{
  margin-bottom: 2%;
}
#activity_head{
  margin-bottom: 2%;
}
.activity{
  background-color: #f8f9fa;
}
.fa-angle-double-right:hover{
  padding-left: 10px;
}














/*footer css*/
footer {
  padding: 1.5rem;
  text-align: center;
}
footer .row a {
  display: block;
  text-decoration: none;
  color: black;
  font-weight: 400;
  padding: 0.2rem 0;
}

.footer-icon {
  font-size: 2.2rem;
  margin: 0.3rem;
}

.facebook {
  color: #1773EA;
}

.facebook:hover {
  color: #1773EA;
}

.instagram {
  color: #7C3CAB;
}

.instagram:hover {
  color: #7C3CAB;
}

.youtube {
  color: #F70000;
}

.youtube:hover {
  color: #F70000;
}

.mail {
  color: #E44134;
}

.mail:hover {
  color: #E44134;
}

.linkedin {
  color: #0073B1;
}

.linkedin:hover {
  color: #0073B1;
}

